@model List<WindowDetails>

@{
    var cId = ViewBag.CutomerId;
}
<style type="text/css">

    .invoice h1 {
        font-size: 34px;
        font-weight: 500;
        text-transform: fullsize-kana;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table thead tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

</style>

    
<div class="row">
    <div class="col-12 col-md-6">
       
            <b>User name : @ViewBag.userName</b>

    </div>
    <div class="col-12 col-md-6" style="text-align:right;">
        Date : @DateTime.Now.ToShortDateString()
    </div>
</div>
<form id="frm" asp-controller="Invoice">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="invoice" style="text-align:center">
        <h1>Invoice Details</h1>
    </div>
    <div style="text-align:center;color: #c50000;">--------------------------------------------------------------------------------------------</div>

    <div class="form-group" style="padding-bottom:10px;text-align:right">
        <input id="btnDownloadInvoice" type="submit" class="btn btn-primary" value="Download" asp-action="DownloadInvoice" asp-route-customerId=@cId />
    </div>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th>Room Name</th>
                    <th>Window Name</th>
                    <th>Ordered Weight</th>
                    <th>Ordered Height</th>
                    <th>Fabric code</th>
                    <th>Control Type</th>
                    <th>Control Position</th>
                    <th>Quatity</th>
                    <th>Area Sq.m</th>
                    <th>Base Price</th>
                    <th>Price Per Item</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                <label class="form-label" asp-for="@Model[i].RoomName">@Model[i].RoomName</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].WindowName">@Model[i].WindowName</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].OrderedWidth">@Model[i].OrderedWidth</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].OrderedHeight">@Model[i].OrderedHeight</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].FabricName">@Model[i].FabricName</label>

                            </td>
                            
                            <td>
                                <label class="form-label" asp-for="@Model[i].ControlType">
                                    @(
                                        Model[i].ControlType == "" ? "-" : Model[i].ControlType)
                                </label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].ControlPosition">
                                    @(
                                        Model[i].ControlPosition == "" ? "-" : Model[i].ControlPosition)
                                </label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].NoOfPanels">@(Model[i].NoOfPanels == 0 ? "-" : Model[i].NoOfPanels)</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].Area">@Model[i].Area</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].BasePrice">@Model[i].BasePrice</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].PricePerItem">@(Model[i].PricePerItem == null ? 0 : Model[i].PricePerItem)</label>

                            </td>
                            <td>
                                <label class="form-label" asp-for="@Model[i].TotalPrice">@(Model[i].TotalPrice == null ? 0 : Model[i].TotalPrice)</label>

                            </td>
                          
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    </br>

    <div class="row">
        <div class="col-12 col-md-6">
            <input id="btnBack" type="submit" class="btn btn-dark" formnovalidate value="Back" asp-controller="SalesOrder" asp-action="Index" asp-route-id=@cId />

        </div>
    </div>

</form>

