@model List<WindowDetails>

@{
    var cId = ViewBag.CutomerId;
}
<style type="text/css">

    .sales h1 {
        font-size: 34px;
        font-weight: 500;
        text-transform: fullsize-kana;
        
    }





    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table thead tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

</style>
<div class="row">
    <div class="col-12 col-md-6">

        <b>User name : @ViewBag.userName</b>

    </div>
    <div class="col-12 col-md-6" style="text-align:right;">
        Date : @DateTime.Now.ToShortDateString()
    </div>
</div>
<form id="frm" asp-controller="SalesOrder">
    <div class="sales" style="text-align:center">
        <h1>Sales Order</h1>
    </div>
    <div style="text-align:center;color: #c50000;">--------------------------------------------------------------------------------------------</div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-group" style="padding-bottom:10px;text-align:right">
        <input id="btnDownloadInvoice" type="submit" class="btn btn-primary" value="Download" asp-action="DownloadInvoice" asp-route-customerId=@cId />
    </div>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th>Room Name</th>
                    <th>Window Name</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Fabric code</th>
                    <th>Blind type</th>
                    <th>Control Type</th>
                    <th>Control Position</th>
                    <th>Stack Type</th>
                    <th>No Of Panels</th>
                    <th>2 in 1 blind</th>
                    <th>No Valance</th>
                    <th>Need Extension</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].RoomName">@Model[i].RoomName</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].WindowName">@Model[i].WindowName</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].Width">@Model[i].Width</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].Height">@Model[i].Height</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].FabricName">@Model[i].FabricName</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].BlindType">@Model[i].BlindType</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].ControlType">@Model[i].ControlType</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].ControlPosition">@Model[i].ControlPosition</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].StackType">@Model[i].StackType</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].NoOfPanels">@Model[i].NoOfPanels</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].Is2In1"> @(Model[i].Is2In1 ? "Yes" : "No")</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].IsNoValance">@(Model[i].IsNoValance ? "Yes" : "No")</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].IsNeedExtension">@(Model[i].IsNeedExtension ? "Yes" : "No")</label>

                            </td>
                            <td>
                                <label class="form-check-label" asp-for="@Model[i].Notes">@Model[i].Notes</label>

                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    </br>

    <div class="row">
        <div class="col-12 col-md-6">
            <input id="btnBack" type="submit" class="btn btn-dark" formnovalidate value="Back" asp-controller="Measurement" asp-action="WindowDetails" asp-route-id=@cId />

        </div>
        <div class="col-12 col-md-6" style="text-align:right;">
            <input id="btnSave" type="submit" class="btn btn-primary" value="Next" asp-action="InvoiceDetails" asp-route-customerId=@cId />
        </div>
    </div>

</form>

