@model Measurement
@{
    ViewData["Title"] = "Index";    
    var Model = (Measurement)ViewBag.JNTFDetails;
    var MaxRow=0;
    if (Model != null)
    {
        MaxRow=Model.lstWindowDetails.Count()-1;
    }
}

<div><b>User name : @ViewBag.userName</b></div>
<form id="frm" asp-controller="Measurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" class="form-control" id="customerId" asp-for="@Model.customerId">

    <div class="form-group row">
        <div class="col-lg-4">
            <label asp-for="@Model.IsInchOrMM" class="control-label"></label>
            <br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="@Model.IsInchOrMM" type="radio" value="true" />
                <label class="form-check-label" asp-for="@Model.IsInchOrMM">CM</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="@Model.IsInchOrMM" type="radio" value="false" />
                <label class="form-check-label" asp-for="@Model.IsInchOrMM">MM</label>
            </div>
            <span asp-validation-for="IsInchOrMM" class="text-danger"></span>
        </div>
    </div>
    <table id="MultiAddUserTable" class="table">
        <tr>
            <th>Room Name</th>
            <th>Window Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
        @if (Model != null)
        {
            @for (int i = 0; i < Model.lstWindowDetails.Count(); i++)
            {
                <input type="hidden" class="form-control" id="IndexVal" asp-for="@Model.lstWindowDetails[i].IndexVal" value="@i">
                <tr>
                    
                    <td>
                        <input class="activeVersion_@i" id="Text1" type="text" asp-for="@Model.lstWindowDetails[i].RoomName" />
                        <br /><span asp-validation-for="@Model.lstWindowDetails[i].RoomName" class="text-danger"></span>
                    </td>
                    <td>
                        <input id="Text2" type="text" asp-for="@Model.lstWindowDetails[i].WindowName" />
                        <br /><span asp-validation-for="@Model.lstWindowDetails[i].WindowName" class="text-danger"></span>
                    </td>
                    <td>
                        <input id="Text3" type="text" asp-for="@Model.lstWindowDetails[i].Width" />
                        <br /> <span asp-validation-for="@Model.lstWindowDetails[i].Width" class="text-danger"></span>
                    </td>
                    <td>
                        <input id="Text4" type="text" asp-for="@Model.lstWindowDetails[i].Height" />
                        <br /> <span asp-validation-for="@Model.lstWindowDetails[i].Height" class="text-danger"></span>
                    </td>
                    <td>
                        <input id="Text5" type="text" asp-for="@Model.lstWindowDetails[i].Notes" />
                    </td>
                    <td>
                        @if(@i!=0){
                        <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@i"><span class="bi bi-trash"></span> </button>
                        
                        }&nbsp;
                        @if(@i==@MaxRow){
                        <button type="submit" class="btn btn-primary" asp-action="Copy" asp-route-id="@i"><span class="bi bs-tooltip-auto"></span> </button>
                    
                        }
                        </td>
                </tr>
            }
        }
    </table>
    <div class="form-group" style="float:right">
        <input id="btnAdd" type="submit" class="btn btn-dark" value="Add" asp-action="Add" />

    </div>

    <div class="form-group">
        <input id="btnSave" type="submit" class="btn btn-primary" value="Save" asp-action="Save"/>
    </div>
</form>