@model List<WindowDetails>
@{
    var cId = ViewBag.CutomerId;
    var BlindTypes = ViewBag.BlindTypes;
}

<div><b>User name : @ViewBag.userName </b></div>
<form id="frm" asp-controller="Measurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <table id="MultiAddUserTable" class="table">
        <tr>
            <th>Room Name</th>
            <th>Fabric code</th>
            <th>Base price</th>
            <th>Blind type</th>
        </tr>
        @if (Model != null)
        {
            @for (int i = 0; i < Model.Count(); i++)
            {
                <input type="hidden" class="form-control" id="ItemSsection" asp-for="@Model[i].IsItemSelection">


                <tr>

                    <td>
                        <label class="form-check-label" asp-for="@Model[i].RoomName">@Model[i].RoomName</label>
                        <input type="hidden" class="form-control" id="hdnRoomName" asp-for="@Model[i].RoomName">
                    </td>
                    <td>
                        <input id="Text2" type="text" asp-for="@Model[i].FabricName" required class="form-control rounded" />
                        <br /><span asp-validation-for="@Model[i].FabricName" class="text-danger"></span>
                    </td>
                    <td>
                        <input id="Text3" type="text" asp-for="@Model[i].BasePrice" required class="form-control rounded" />
                        <br /> <span asp-validation-for="@Model[i].BasePrice" class="text-danger"></span>
                    </td>
                    <td>
                        <select asp-for="@Model[i].BlindType" required class="form-select">
                            <option value="">Select BlindType</option>
                            @foreach (var typed in @BlindTypes)
                            {
                                var seltedVal = (@typed.Value.Trim() == @Model[i].BlindType?.Trim()) ? true : false;

                                <option value="@typed.Value" selected="@seltedVal">@typed.Text</option>
                            }
                        </select>
                        <br /><span asp-validation-for="@Model[i].BlindType" class="text-danger"></span>

                    </td>

                </tr>
            }
        }
    </table>

    <div class="row">
        <div class="col-12 col-md-6">
            <input id="btnBack" type="submit" class="btn btn-dark" formnovalidate value="Back" asp-action="Index" asp-route-customerId=@cId asp-route-coming="back" />

        </div>
        <div class="col-12 col-md-6" style="text-align:right;">
            <input id="btnSaveWindow" type="submit" class="btn btn-primary" value="Save And Next" asp-action="SaveRoomDetails" asp-route-customerId=@cId />
        </div>
    </div>

    
</form>