@model List<RoomDetails>

@{
    var cId = ViewBag.CutomerId;
    //var BlindTypes = ViewBag.BlindTypes;
    var ControlTypes = ViewBag.ControlTypes;
    var ControlPositions = ViewBag.ControlPositions;
    var StackTypes = ViewBag.StackTypes;
}

<div><b>User name : @ViewBag.userName</b></div>
<form id="frmWindow" asp-controller="Measurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    @if (Model != null)
    {
        <table id="MultiAddUserTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Room Name</th>
                    <th scope="col">Fabric code</th>
                    <th scope="col">Base price</th>
                    <th scope="col">Blind type</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var roomId = "Room" + i;
                <input type="hidden" class="form-control" id="IndexVal" asp-for="@Model[i].RoomName" value="@i">
                <tr data-toggle="toggle">

                    <td>
                        <p id=@roomId>
                            <b>
                                <span class="plusminus_@roomId">+</span>
                                <label class="form-check-label" asp-for="@Model[i].RoomName">@Model[i].RoomName</label>
                            </b>
                        </p>

                    </td>
                    <td>
                        <label class="form-check-label" asp-for="@Model[i].Fabric">@Model[i].Fabric</label>

                    </td>
                    <td>
                        <label class="form-check-label" asp-for="@Model[i].BasePrice">@Model[i].BasePrice</label>

                    </td>
                    <td>
                        <label class="form-check-label" asp-for="@Model[i].BlindType">@Model[i].BlindType</label>

                    </td>

                </tr>
                <tr class="hideTr">
                    <td colspan="4" style="padding:0px 20px 0px 20px">
                        @if (Model[i].WindowDetails != null && Model[i].WindowDetails.Count() > 0)
                        {
                            <table class="table table-striped" style="border-radius: 30px;background: aliceblue;margin: 20px;border-bottom-width: unset;box-shadow: none;">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Item Selection</th>
                                        <th scope="col">Window Name</th>
                                        <th scope="col">Width</th>
                                        <th scope="col">Height</th>
                                        @if (!(@Model[i].BlindType.Contains("Vertical Blind") || @Model[i].BlindType.Contains("Panel Shade")))
                                        {
                                            <th scope="col">Control Type</th>
                                        }
                                        @if (!@Model[i].BlindType.Contains("Panel Shade"))
                                        {
                                            <th scope="col">Control Position</th>
                                        }
                                        @if (@Model[i].BlindType.Contains("Panel Shade"))
                                        {
                                            <th scope="col">No Of Panels</th>
                                        }
                                        @if (@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind"))
                                        {
                                            <th scope="col">Stack Type</th>
                                        }
                                        @if (!(@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind")))
                                        {
                                            <th scope="col">2 in 1 blind</th>
                                        }
                                        @if (!(@Model[i].BlindType.Contains("Banded Shade") || @Model[i].BlindType.Contains("Sheer Shade") || @Model[i].BlindType.Contains("Honeycomb Shade")))
                                        {
                                            <th scope="col">No Valance</th>
                                        }
                                        @if (@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind"))
                                        {
                                            <th scope="col">Need Extension</th>
                                        }
                                        <th scope="col">Notes</th>
                                    </tr>
                                </thead>
                                @for (int j = 0; j < Model[i].WindowDetails.Count(); j++)
                                {
                                    <input type="hidden" class="form-control" id="hdnWindowId" asp-for="@Model[i].WindowDetails[j].Id">

                                    <tbody>
                                        <tr>
                                            <td>
                                                <input class="form-check-input" type="checkbox" asp-for="@Model[i].WindowDetails[j].IsItemSelection ?? false" />

                                            </td>
                                            <td>
                                                <label class="form-check-label" asp-for="@Model[i].WindowDetails[j].WindowName">@Model[i].WindowDetails[j].WindowName</label>

                                            </td>
                                            <td>
                                                <label class="form-check-label" asp-for="@Model[i].WindowDetails[j].Width">@Model[i].WindowDetails[j].Width</label>

                                            </td>
                                            <td>
                                                <label class="form-check-label" asp-for="@Model[i].WindowDetails[j].Height">@Model[i].WindowDetails[j].Height</label>

                                            </td>
                                            @if (!(@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind")))
                                            {
                                                var TypeId = "divControlType" + @i + @j;
                                                <td>
                                                    @*   <input class="activeVersion_@j form-control rounded" id="Text3" type="text" asp-for="@Model[i].WindowDetails[j].ControlType" />
                                <br />*@

                                                    <select asp-for="@Model[i].WindowDetails[j].ControlType" id="@TypeId" required class="form-select" onchange="showControlPosition('divControlType'+@i+@j,'divControlPosition'+@i+@j)">
                                                        <option value="">Select ControlType</option>
                                                        @foreach (var typed in @ControlTypes)
                                                        {
                                                            <option value="@typed.Value">@typed.Text</option>
                                                        }
                                                    </select>
                                                    <br />

                                                    <span asp-validation-for="@Model[i].WindowDetails[j].ControlType" class="text-danger"></span>

                                                </td>
                                            }
                                            @if (!@Model[i].BlindType.Contains("Panel Shade"))
                                            {
                                                var divId = "divControlPosition" + @i + @j;
                                                var ControlPositionDisplay = (@Model[i].WindowDetails[j].ControlType != null && @Model[i].WindowDetails[j].ControlType.Contains("Stainless Steel Beaded Loop")) ? "block" : "none";
                                                <td>
                                                    <div style="display:@ControlPositionDisplay" id="@divId">
                                                        @* <input class="activeVersion_@j  form-control rounded" id="Text4" type="text" asp-for="@Model[i].WindowDetails[j].ControlPosition" />*@


                                                        <select asp-for="@Model[i].WindowDetails[j].ControlPosition" required class="form-select">

                                                            @foreach (var typed in @ControlPositions)
                                                            {
                                                                var seltedVal = (@typed.Value.Trim() == @Model[i].WindowDetails[j].ControlPosition?.Trim() ?? "Right") ? true : false;

                                                                <option value="@typed.Value" selected="@seltedVal">@typed.Text</option>
                                                            }
                                                        </select>
                                                        <br /><span asp-validation-for="@Model[i].WindowDetails[j].ControlPosition" class="text-danger"></span>
                                                    </div>
                                                </td>
                                            }
                                            @if (@Model[i].BlindType.Contains("Panel Shade"))
                                            {
                                                <td>
                                                    <input class="form-control" type="text" asp-for="@Model[i].WindowDetails[j].NoOfPanels" required />


                                                </td>
                                            }
                                            @if (@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind"))
                                            {
                                                <td>
                                                    <select asp-for="@Model[i].WindowDetails[j].StackType" required class="form-select">
                                                        <option value="">Select Stack</option>
                                                        @foreach (var typed in @StackTypes)
                                                        {
                                                            var seltedVal = (@typed.Value.Trim() == @Model[i].WindowDetails[j].StackType?.Trim()) ? true : false;

                                                            <option value="@typed.Value" selected="@seltedVal">@typed.Text</option>
                                                        }
                                                    </select>
                                                    <br /><span asp-validation-for="@Model[i].WindowDetails[j].StackType" class="text-danger"></span>
                                                </td>
                                            }
                                            @if (!(@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind")))
                                            {
                                                <td>

                                                    <input class="form-check-input" type="checkbox" asp-for="@Model[i].WindowDetails[j].Is2In1 ?? false" />


                                                </td>
                                            }
                                            @if (!(@Model[i].BlindType.Contains("Banded Shade") || @Model[i].BlindType.Contains("Sheer Shade") || @Model[i].BlindType.Contains("Honeycomb Shade")))
                                            {
                                                <td>
                                                    <input class="form-check-input" type="checkbox" asp-for="@Model[i].WindowDetails[j].IsNoValance ?? false" />

                                                </td>
                                            }
                                            @if (@Model[i].BlindType.Contains("Panel Shade") || @Model[i].BlindType.Contains("Vertical Blind"))
                                            {
                                                <td>

                                                    <input class="form-check-input" type="checkbox" asp-for="@Model[i].WindowDetails[j].IsNeedExtension ?? false" />


                                                </td>
                                            }
                                            <td>
                                                <input class="activeVersion_@j form-control rounded" id="Text5" type="text" asp-for="@Model[i].WindowDetails[j].Notes" />

                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        }
                    </td>
                </tr>
            }

        </table>
    }
    <div class="row">
        <div class="col-12 col-md-6">
            <input id="btnBack" type="submit" class="btn btn-dark" formnovalidate value="Back" asp-action="Measurement" asp-route-customerId=@cId />

        </div>
        <div class="col-12 col-md-6" style="text-align:right;">
            <input id="btnSaveWindow" type="submit" class="btn btn-primary" value="Save And View Invoice" asp-action="SaveWindowDetails" asp-route-customerId=@cId asp-route-viewName="Invoice" />
            
            <input id="btnWindow" type="submit" class="btn btn-primary" style="margin-left: 20px;" value="Save And View Orders" asp-action="SaveWindowDetails" asp-route-customerId=@cId asp-route-viewName="Order" />
        </div>
    </div>
    <script type="text/javascript">
        function showControlPosition(ControlTypeVal, ControlPositionVal) {
            var seletedTypeVal=$("#"+ControlTypeVal+" option:selected").val();
            if (seletedTypeVal.trim().indexOf("Stainless Steel Beaded Loop") != -1) {
                $("#" + ControlPositionVal).css("display", "block");
            }else{
                $("#" + ControlPositionVal).val('');
                $("#" + ControlPositionVal).css("display", "none");
            }
        }
    </script>
</form>
